<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github Viewer</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="githubViewer">

<div ng-controller="MainCtrl" id="main">

    <!-- Error -->
    <div class="error" ng-show="error">
        <span>Could not find user</span>
        <span class="close-error">X</span>
    </div>

    <!-- Search -->
    <div class="search">
        <div class="instructions">
            <h2>Enter a Github username :</h2>
        </div>
        <div class="username-search">
            <form name="searchName" ng-submit="search(username)">
                <input type="text" ng-model="username" id="search-input" placeholder="Username..." />
                <br>
                <input type="submit" value="Search" id="search-button" />
            </form>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <div ng-show="!user">
            <div class="no-user">
                no user found
            </div>
        </div>
        <div ng-show="user">
            <div class="thumbnail">
                <img ng-src="{{user.avatar_url}}" width="230px" height="230px">
            </div>
            <div class="name">
                <h3>{{user.name}}</h3>
            </div>
            <div class="location">
                <span>{{user.location}}</span>
            </div>
        </div>
    </div>

    <!-- Repos -->
    <div class="repos">
        <div ng-show="!user">
            <div class="no-user">
                no user found
            </div>
        </div>
        <div ng-show="user">
            <div class="title">
                <h3>Repositories</h3>
                <hr>
            </div>
            <ul class="repo-list">
                <li class="repo" ng-repeat="repo in repos">
                    <h3>
                        <a href="{{repo.url}}">{{repo.name}}</a>
                    </h3>
                    <span>
                        {{repo.language}}
                    </span> |
                    <span>
                        {{repo.size}} Lines
                    </span> |
                    <span>
                        {{repo.stargazers_count}} Stars
                    </span>
                </li>
            </ul>
        </div>
    </div>

</div> <!-- end MainCtrl -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>