/*******************************
**  general
/******************************/

*, *:before, *:after { box-sizing: border-box; }
body { font-family: Arial; font-size: 16px; font-weight: 300; padding: 20px 0; background-color: #F2F2F2; letter-spacing: 2px; }
.container, #main { width: 90%; margin: 0 auto; overflow: auto; zoom: 1; }

.error {
    position: relative;
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 0.6em;
    margin-bottom: 0.5em;
    font-size: 1.4em;
    letter-spacing: 4px;
    border-radius: 0.4em;
    opacity: 0.8;
}
.close-error {
    float: right;
    cursor: pointer;
}

/*******************************
**  search
/******************************/

.search {
    background-color: red;
    height: 8em;
    margin-bottom: 1em;
    background-color: #D2D2D2;
    border-radius: 0.4em;
}

.instructions {
    width: 50%;
    height: 8em;
    margin-right: 2%;
    float: left;
    padding: 2em;
}

.instructions h2 {
    font-size: 2.2em;
    letter-spacing: 4px;
    padding-top: 0.2em;
    margin-left: 1em;
}

.username-search {
    width: 48%;
    float: left;
}

.search form {
    height: 8em;
    padding-left: 4em;
}

#search-input {
    width: 20em;
    height: 3em;
    border-radius: 0.4em 0.4em 0.4em 0;
    border: none;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.1em;
    padding-left: 0.6em;
}

#search-button {
    width: 15em;
    height: 2em;
    border-radius: 0em 0.4em 0.4em 0.4em;
    border: 1px solid blue;
    background-color: lightblue;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 3px;
}

#search-button:hover {
    background-color: blue;
    color: #fff;
}

/*******************************
**  main content
/******************************/

.sidebar, .repos {
    float: left;
    background-color: #fff;
    border-radius: 0.4em;
    padding: 2em 3em;
}

/*******************************
**  sidebar
/******************************/

.sidebar {
    width: 28%;
    margin-right: 2%;
}

.sidebar .thumbnail {
    border-bottom: 2px solid #d2d2d2;
}

.sidebar .thumbnail img {
    min-width: 100%;
    border-radius: 0.4em;
    margin-bottom: 1em;
}

.sidebar .name {
    font-size: 1.8em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.sidebar .location {
    font-size: 1.4em;
    color: #b2b2b2;
}

/*******************************
**  repos
/******************************/

.repos {
    width: 70%;
}

.repos .title {
    font-size: 2em;
}

.repo {
    border-bottom: 2px solid #d2d2d2;
    padding: 2em 0;
}

.repo h3 {
    margin-bottom: 1.4em;
}

.repo h3 a {
    font-size: 1.6em;
    text-decoration: none;
}

.repo span {
    font-size: 1em;
    color: #a2a2a2;
}